<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:url"                content="https://e-e.herokuapp.com" />
  <meta property="og:type"               content="image" />
  <meta property="og:title"              content="Is it E? {{saturday}}" />
  <meta property="og:description"        content="E checker" />
  <meta property="og:image"              content="{{preview}}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="E checker">
  <meta name="author" content="Ziad Alexander">
  <link rel="icon" href="./favicon.ico">

  <title>Is it E?-{{saturday}}</title>
</head>

<body style="margin: 0px; overflow: hidden;">
  <style>
    video#bgvid {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
  }
    #overlay {
    font-family: 'Advent Pro', sans-serif;
    font-size: 7em;
    margin: .2em .5em;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 0;
    overflow: hidden
  }
  html, body {height: 100%; width: 100%;}
  h1 {text-align: center; display: inline-block; vertical-align: middle;}
  .center {position: absolute; top: 0; left: 0; right: 0; left: 0; text-align: center; border: 1px solid #ccc; height: 100%; width: 100%; vertical-align: middle;}
  </style>

  <div class="center" style="font-size: 300%;  color: {{color}}; text-shadow: 8px 8px 8px #000000; overflow: hidden;">{{saturday}}
     <h3 id="timer">calculating...</h3>
    <script>
        var calculateFastFsh = function() {
            var now = moment();
            var sunday = 0;
            var saturday = 6;
            var earliest = now.tz('Etc/GMT-14').day();
            var latest = now.tz('Etc/GMT+12').day();
            var boolyeen = (earliest === saturday || latest === saturday) ? "yes" : "no";
            document.getElementById("saturday").innerHTML = boolyeen;
            document.getElementById("saturday").setAttribute("class", boolyeen);
            if (boolyeen === "yes") {
                var lastFirstSunday = moment();
                lastFirstSunday.tz('Etc/GMT+12');
                lastFirstSunday.isoWeekday(sunday);
                lastFirstSunday.set('hour', 0);
                lastFirstSunday.set('minute', 0);
                lastFirstSunday.set('second', 0);
                lastFirstSunday.set('ms', 0);
                now.tz('Etc/GMT+12');
                var diff = lastFirstSunday.valueOf() - now.valueOf();
                var hours = Math.floor(diff / 1000 / 60 / 60);
                var minutes = Math.floor((diff - (hours * 1000 * 60 * 60)) / 1000 / 60);
                var seconds = Math.floor((((diff - (hours * 1000 * 60 * 60)) - (minutes * 1000 * 60)) / 1000));
                var timer = "saturday will end in: ";
                if (hours == 0 && minutes == 0 && seconds == 0) {
                    timer = "SATURDAY IS OVER!";
                } else {
                    timer = timer
                        + (hours > 0 ? (hours == 1 ? hours + " hour, " : hours + " hours, ") : "")
                        + (minutes > 0 ? (minutes == 1 ? minutes + " minute, " : minutes + " minutes, "): "")
                        + (hours != 0 && minutes != 0 ? " and " : "") + (seconds == 1 ? seconds + " second" : seconds + " seconds");
                }
                document.getElementById("timer").innerHTML = timer;
            } else {
                var nextSaturday = moment();
                nextSaturday.tz('Etc/GMT-14');
                nextSaturday.isoWeekday(saturday);
                nextSaturday.set('hour', 0);
                nextSaturday.set('minute', 0);
                nextSaturday.set('second', 0);
                nextSaturday.set('ms', 0);
                now.tz('Etc/GMT-14');
                var diff = nextSaturday.valueOf() - now.valueOf();
                var hours = Math.floor(diff / 1000 / 60 / 60);
                var minutes = Math.floor((diff - (hours * 1000 * 60 * 60)) / 1000 / 60);
                var seconds = Math.floor((((diff - (hours * 1000 * 60 * 60)) - (minutes * 1000 * 60)) / 1000));
                var timer = "it will be saturday in: ";
                if (hours == 0 && minutes == 0 && seconds == 0) {
                    timer = "SATURDAY BEGINS!";
                } else {
                    timer = timer
                        + (hours > 0 ? (hours == 1 ? hours + " hour, " : hours + " hours, ") : "")
                        + (minutes > 0 ? (minutes == 1 ? minutes + " minute, " : minutes + " minutes, "): "")
                        + (hours != 0 && minutes != 0 ? " and " : "") + (seconds == 1 ? seconds + " second" : seconds + " seconds");
                }
                document.getElementById("timer").innerHTML = timer;
            }
            window.setTimeout(calculateFastFsh, 1000);
        }
        calculateFastFsh();
    </script>
 </div>
  <video autoplay="" loop=""  id="bgvid">
    <source src="{{video}}" type="video/mp4">
  </video>
</body>
</html>
